
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #f1f1f1;
  --bg-secondary: #fbfbfb;
  --dark-gray: #333;
  --light-brown: #c7a17a;
  --black: #1f2226;
}
body {
  font-family: "Open Sans", sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Oswald", sans-serif;
}
ul { list-style: none; }
a { text-decoration: none; }

.container {
  max-width: 1200px;
  margin: auto;
}
.prim { color: #c7a17a; }

#header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  border-bottom: 1px solid #ccc;
  z-index: 10;
}
#header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 10px 20px;
}
.logo {
  width: 200px;
  height: auto;
}
#header .navbar ul {
  display: flex;
}
#header .navbar ul li a {
  color: var(--dark-gray);
  font-size: 18px;
  margin: 0 15px;
  font-weight: 500;
  transition: all 0.3s ease;
}
#header .navbar ul li a:hover {
  color: rgb(75, 165, 234);
}

/* HOME SECTION */
#home {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}
#home .overlay {
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.image-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.homescreen {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}
.homescreen:hover {
  transform: scale(1.1);
}

/* ABOUT SECTION */
.card {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 50px;
}
.image {
  width: 450px;
  flex-shrink: 0;
}
.image img {
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
  
}
.text {
  flex: 1;
}

/* Fix Font Awesome */
.fa-solid.fa-server {
  margin-left: 10px;
}
#h1,#h3{
  color: #1f2226;
}
.about:hover {
  transform: scale(1.1);}
H2{
    color: #f1f1f1;
  }
  P{
    color: #f1f1f1;
  }
  .about{
    margin-right:  80px;
  }